.custom-carousel {
  background: radial-gradient(circle at top left, var(--color-light-3) 0%, var(--color-light-3) 5%, transparent 20%, transparent 100%),
    radial-gradient(circle at top right, var(--color-light-3) 0%, var(--color-light-3) 5%, transparent 20%, transparent 100%),
    radial-gradient(circle at bottom left, var(--color-light-3) 0%, var(--color-light-3) 5%, transparent 20%, transparent 100%),
    radial-gradient(circle at bottom right, var(--color-light-3) 0%, var(--color-light-3) 5%, transparent 20%, transparent 100%),
    var(--color-light-5);

    .carousel-inner {
      height: 400px;
    
      .carousel-item {
        height: 100%;
      }
    
      img {
        object-fit: contain;
        overflow: hidden;
        aspect-ratio: 1;
        width: 100%;
      }
    
      h3 {
        color: black;
        font-size: 2.25rem;
        -webkit-text-stroke: .75px white;
        font-weight: 600;
      }
    
      p {
        color: black;
        font-size: 1.25rem;
        -webkit-text-stroke: .75px white;
        font-weight: 600;
      }
    }
    
    @media screen and (min-width: 768px) {
      .carousel-inner {
        height: auto;
    
        img {
          aspect-ratio: 4/1;
        }
      }
    }

}

.custom-carousel.profesional {
  background:
    radial-gradient(circle at 5% 5%, var(--color-light-5) 0%, var(--color-light-5) 5%, transparent 7%, transparent 100%),
    radial-gradient(circle at 7% 60%, var(--color-light-5) 0%, var(--color-light-5) 3%, transparent 5%, transparent 100%),
    radial-gradient(circle at 15% 10%, var(--color-light-5) 0%, var(--color-light-5) 8%, transparent 10%, transparent 100%),
    radial-gradient(circle at 25% 50%, var(--color-light-5) 0%, var(--color-light-5) 6%, transparent 8%, transparent 100%),
    radial-gradient(circle at 40% 40%, var(--color-light-5) 0%, var(--color-light-5) 7%, transparent 9%, transparent 100%),
    radial-gradient(circle at 55% 30%, var(--color-light-5) 0%, var(--color-light-5) 2%, transparent 4%, transparent 100%),
    radial-gradient(circle at 70% 60%, var(--color-light-5) 0%, var(--color-light-5) 4%, transparent 6%, transparent 100%),
    radial-gradient(circle at 75% 80%, var(--color-light-5) 0%, var(--color-light-5) 5%, transparent 7%, transparent 100%),
    radial-gradient(circle at 85% 20%, var(--color-light-5) 0%, var(--color-light-5) 6%, transparent 8%, transparent 100%),
    radial-gradient(circle at 90% 60%, var(--color-light-5) 0%, var(--color-light-5) 8%, transparent 10%, transparent 100%),
    radial-gradient(circle at 15% 75%, var(--color-light-5) 0%, var(--color-light-5) 3%, transparent 5%, transparent 100%),
    radial-gradient(circle at 35% 85%, var(--color-light-5) 0%, var(--color-light-5) 3%, transparent 5%, transparent 100%),
    radial-gradient(circle at 50% 15%, var(--color-light-5) 0%, var(--color-light-5) 4%, transparent 6%, transparent 100%),
    radial-gradient(circle at 65% 10%, var(--color-light-5) 0%, var(--color-light-5) 12%, transparent 14%, transparent 100%),
    repeating-linear-gradient(90deg,
      var(--color-light-5) 0 1px,
      transparent 2px 200px),
    repeating-linear-gradient(0deg,
      var(--color-light-5) 0 1px,
      transparent 2px 200px),
    var(--color-light-4);
}